---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

    {% for post in paginator.posts %}
    <div class="col-xs-12">
      {% if post.url %}
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      {% else %}
      <h2>{{ post.title }}</h2>
      {% endif %}
    </div>

    <div class="col-xs-8">
      <p>
        {% if post.date %}
        <span class="label label-info">
          {% octicon calendar %}
          {{ post.date | date_to_string }}
        </span>
        {% if post.tags %}&nbsp;{% endif %}
        {% endif %}

        {% for tag in post.categories %}
        {% octicon tag %} <span class="label label-default">
          <i class="fa fa-fw fa-tag"></i>
          {{ tag }}
        </span>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </p>
      {{ post.excerpt }}
    </div>
    <div class="clearfix"></div>
    {% unless forloop.last %}
    <div class="col-xs-12"><hr /></div>
    {% endunless %}
    {% endfor %}

  <!-- Pagination links -->
  {% include nav_paginator.html %}


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
