<div class="container">
<nav class="navbar  navbar-dark bg-inverse" >
  <a class="navbar-brand" href="/"><img src="./app/img/logo.png"></a>
  <a class="nav-item nav-link" href="#">Home</a>
  <a class="nav-item nav-link" [routerLink]="['Articles','Detail',{id: '1'}]">Last Articles</a>
  <a class="nav-item nav-link" [routerLink]="['About']">About</a>
  <!--form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form-->
 </nav>
 </div>

<router-outlet></router-outlet>
<footer><img src="./app/img/logotx.png" title="pello.io logo" alt="Pello.io logo"></footer>
<img src="./dist/logo.png" title="pello.io logo" alt="Pello.io logo" />
