<footer class="site-footer" id="pelloprojects">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {% octicon person %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
          {% octicon mail %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <h3>{% octicon beaker %} Projects</h3>
        <ul class="social-media-list">
          <li>
            <a href="http://eta.bar" title="">eta.bar</a>
            MEAN 2
          </li>
          <li>
            <a href="https://github.com/pxai/jobtrends" title="">Jobtrends</a>
            MEAN
          </li>
          <li>
            <a href="https://github.com/pxai/seronoser" title="">SeronoSer</a>
            Angular game
          </li>
          <li>
            <a href="https://artean.cuatrovientos.org" title="">Artean</a>
            Symfony3
          </li>
          <li>
            <a href="https://github.com/pxai/4vientos" title="">4vientos</a>
            Codeigniter
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">

        <h3>{% octicon git-branch %} Repositories</h3>
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/pxai?utf8=%E2%9C%93&tab=repositories&q=angular2&type=&language=javascript">Angular2</a>
          </li>
          <li>
            <a href="https://github.com/pxai?utf8=%E2%9C%93&tab=repositories&q=typescript&type=&language=">TypeScript</a>
          </li>
          <li>
            <a href="https://github.com/pxai?utf8=%E2%9C%93&tab=repositories&q=android&type=&language=java">Android</a>
          </li>
          <li>
            <a href="https://github.com/pxai/gulp-optimized-web">Gulp optimization</a>
          </li>
          <li>
            <a href="https://github.com/pxai/grunt-optimized-web">Grunt optimization</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tags">
      {% assign tags = site.categories | sort %}
      {% for tag in tags %}
      <span class="site-tag">{% octicon tag %}
    <a href="/tag/{{ tag | first | slugify }}/"
       style="">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
      {% endfor %}
    </div>
  </div>
  {% include google-analytics.html %}
</footer>
