			<nav>

	        		<div><a href="/">Home</a></div>
		        	<div><a href="/about">About?</a></div>
	        		<div><a href="/blog">Blog</a></div>
			</nav>
      <div id="social">
        <div>
        <span><a href="https://github.com/pxai" class="socicon-github"></a></span>
       <span> <a href="https://twitter.com/pello_io" class="socicon-twitter"></a></span>
       <span> <a href="https://plus.google.com/u/0/+PelloAltadill" class="socicon-google"></a></span>
         <span> <a href="www.linkedin.com/in/pello-xabier-altadill-b097751a" class="socicon-linkedin"></a></span>
         <span> <a href="p_at_pello_dot_io" class="socicon-mail"></a></span>
         <span> <a href="http://pello.io/feed.xml" class="socicon-rss"></a></span>
        </div>
      </div>
