

html, body {
    font-family: Helvetica, arial, sans-serif;
    background-color: $backcolor;
    color: $fgcolor;
    margin: 0;
}

nav, main, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  padding: 1em 2em;
}

header {
  background-image: url(/images/aliens.jpg);
  background-size:cover;
        height: 10em;
    background-color: white;
    padding: 2em;
}
header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header > div > div {
  font-size: 3em;
}

 nav {
            align-self:  center;
}

 nav div {
        display: inline-block;
        padding: 1em;
        background-color: $backcolor;
        align-self:  center;
}

main {
    padding: 1em;
}
