html, body {
    font-family: Helvetica, arial, sans-serif;
    background-color: $backcolor;
  color: #222;
  font-size: 1em;
    margin: 0;
}

nav, main, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
  background-image: url(/images/aliens.jpg);
  background-size:cover;
        height: 10em;
    background-color: white;
}
header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#title {
  font-size: 3em;
  color: white;
  text-decoration: none;
}

 nav {
            align-self:  center;
}

 nav div {
        display: inline-block;
        padding: 1em;
        background-color: $backcolor;
        align-self:  center;
}
#social {
  align-self:  center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#social > div {
  display: inline-block;
  padding: 1em;
  align-self:  center;
  font-size: 2em;
}
#social span {
  display: inline-block;
  margin-left: 1em;
}
main {
    margin: 0 2em;
    background-color: #5f8dd3;
    padding: 1em;

}

main div {
  background-color: white;
  padding: 2em;
  border-radius: 0.2em;
}
