<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }} [:)] Pello.io</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
      <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
      <link href='http://pello.io/feed.xml' rel='alternate' type='application/atom+xml'>
		</head>
		<body>
            <header>
                {% include header.html %}
			</header>
            {% include nav.html %}
      <main>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
      </main>
			<footer>
                {% include footer.html %}
			</footer>
		</body>
	</html>
